// place your custom styles here

.vp-sidebar > .vp-sidebar-links > li > .vp-sidebar-link {
    font-size: 0.9em;
}

.vp-feature-details {
    margin: 0;
    line-height: 1.4;
    font-size: 1em;
}

.vp-feature-title {
    font-size: 1.3em;
}

.vp-toc-link.level2 {
    font-size: 0.75em;
}

.vp-toc-link.level3 {
    padding-inline-start: 0.5rem;
    font-size: 0.75em;
}