// you can change colors here
// 应用字体
$vp-font: '"LXGW WenKai Mono TC", "LXGW WenKai TC", serif';
$vp-font-heading: '"LXGW WenKai Mono TC", "LXGW WenKai TC", serif';
$vp-font-mono: '"LXGW WenKai Mono TC", "LXGW WenKai TC", serif';